.caja_gran{
    width: 50rem;
    height: auto;
    background-color:rgb(202, 212, 212) ;
    margin: auto;
}

.footer{
    width: 50rem;
    height: 6rem;
}

.imgg{
    width: 6rem;
    height: 6rem;
    padding: 2rem;
}


.clas1{
    height: 30rem;
    text-align: center;
}

.tit1{
    font-size: 4rem;
}

.sub1{
    font-size: 2rem;
}

.vacc1{
    margin: 2rem;
    width: 46rem;
    height: 20rem;
    background-color: antiquewhite;
}

.clas2{
    height: 30rem;
    text-align: center;

}

.tit2{
    font-size: 4rem;
}

.sub2{
    font-size: 2rem;
}


.oneee{
    display: flex;
    flex-direction: row;
}
.circulo1{
    margin-top:4rem;
    margin-left: 10rem;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: aqua;
}

.circulo2{
    margin-top:4rem;
    margin-left: 11rem;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    background-color: aqua;
}

.oneee1{
    height: 20rem;
    background-color:blueviolet
}
