*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        --color-pag:rgb(245, 206, 206);
        --color-circulo:rgb(250, 250, 199);
        --color-cuadros:rgb(238, 238, 186);
        --color-texto:rgb(7, 7, 7);
}

html{
    max-width: 375px;
    margin: auto;
    font-size: 10px;
    font-family: 'Caveat', cursive;}