*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
        --color-pag:rgb(161, 161, 161);
        --color-circulo:rgb(209, 209, 205);
        --color-cuadros:rgb(209, 209, 205);
        --color-texto:rgb(7, 7, 7);

}

html{
    font-size: 10px;
    font-family: 'Caveat', cursive;}