.caja_gran{
    width: 50rem;
    height: auto;
    background-color: var(--color-pag);
    margin: auto;
}

.footer{
    width: 50rem;
    height: 6rem;
}

.imgg{
    width: 6rem;
    height: 6rem;
    padding: 2rem;
}

.cont1{
    height: 18rem;
    padding: 3rem;
}

.textt1{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.vac1{
    width: 44rem;
    height: 3rem;
    background-color: var(--color-cuadros);
}


.cont2{
    height: 10rem;
    padding: 3rem;
}

.vac2{
    width: 44rem;
    height: 3rem;
    background-color: var(--color-cuadros);
}


.cont3{
    height: 10rem;
    padding: 3rem;
}

.vac3{
    width: 44rem;
    height: 3rem;
    background-color: var(--color-cuadros);
}


.cont4{
    height: 10rem;
    padding: 3rem;
}

.vac4{
    width: 44rem;
    height: 3rem;
    background-color: var(--color-cuadros);
}

.ultimo{
    width: 44rem;
    height: 3.5rem;
    background-color: var(--color-cuadros);
    font-size: 1.5rem;
    margin-left: 3rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 1rem;
}

.vacgrande{
    margin: 3rem;
    margin-top: 3rem;
    width: 44rem;
    height: 40rem;
    background-color: var(--color-cuadros);
}

/**********/
.div1{
    text-align: center;
    font-size: 1.5rem;
    height: 15rem;
}

.div2{
    text-align: center;
    font-size: 1.5rem;
    height: 15rem;
}

.div3{
    padding-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    height: 15rem;
}

/*FOOTER*/
.fin{
    padding-top: 5rem;
}

.fin1{
    height: 16rem;
    background-color: var(--color-cuadros);
}

.fo1{
    height: 10rem;
    padding: 3rem;

    display: flex;
    flex-direction: row;
}

.text10{
    font-size: 3rem;
}

.bot01{
    width: 8rem;
    height: 5rem;
    margin-left: 31rem;
}

.fo2{
    height: 5rem;

    display: flex;
    flex-direction: row;
}

.textfin{
    text-decoration: none;
    font-size: 2rem;
    margin: 2rem;
    margin-left: 3rem;
}

.link{
    text-decoration: none;
}